MONGO_URI=mongodb://localhost:27017/social_media
JWT_SECRET=change_me
JWT_EXPIRES_IN=7d
EMAIL_USER=youssefmuhammed.fbs.2020@gmail.com
EMAIL_PASS=mmaj mqex tijb prpa
CLIENT_URL=http://localhost:3000
PORT=5000
